*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.py
main_backup.kt
test_attach.kt
patch.gradle
.env
push_to_github.sh
debug.keystore.base64
